input.example3 {
	background: white;
	border: 1px double #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px #333;
	color: #666;
	float: left;
	padding: 5px 10px;
	width: 165px;
	outline: none;
}