#list-menu {
width: 600px;

}
#list-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
#list-menu li {
	margin: 0px 0 0px 0;
	display:inline;
	
}
#list-menu a {
	padding: 10px 0px 2px 10px;
	/*background:url(images/bar.jpg);*/
	background: #fff;
	text-decoration: none;
	border-bottom:none;
	min-width:50px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	height:40px;
	font-weight: bold;
}
#list-menu a:link, #list-menu a:active, #list-menu a:visited {
	color: #666;
}
#list-menu a:hover {
	background: #0f93c4;
	color: #ffffff;
}
/* CSS for  browser*/
*html #list-menu {
	width: 600px;
}
*html #list-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
*html #list-menu li {
	margin: 0px 0 0px 0;
	
}
*html #list-menu a {
	display:inline;
	padding: 10px 10px 2px 10px;
	background: #fff;
	text-decoration: none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	height:44px;
	font-weight: bold;
}
*html #list-menu a:link, *html #list-menu a:active, *html #list-menu a:visited {
	color: #666;
}
*html #list-menu a:hover {
	background: #0f93c4;
	color: #ffffff;
}
.search {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding-top: 30px;
}
#masthead {
	margin:0px;
	padding:0px;
	background-image:url(../images/content-bg.jpg);
}

.heading {
	font-family:Arial, Helvetica, sans-serif;
	/*font-family: Aclonica, serif;*/
	font-weight:bold;
	color:#666666;
	font-size: 21px;
	text-align:left;

}
.sub-headings{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#666666;
	font-size:16px;
	text-align:left;
	line-height:7px;
}
.text {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	color:#333;
	text-align:justify;
	word-spacing:0px;
}
.copyright {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
}
